/*#region root*/
:root {
  /* fonts */
  --main-font: 'Open+Sans', sans-serif;
  --seondary-font: 'Raleway', sans-serif;

  /* text colors*/
  --accent-cl: #FF6C00;
  --main-txt-cl: #555555;
  --services-txt-cl: #9DA4BD;
  --secondary-txt-cl: #FFFFFF;
  --uppertitle: rgba(157, 164, 189, 0.6);
  --subtitle: rgba(157, 164, 189, 1);

  /* background colors */
  --main-bg-cl: #FFFFFF;
  --secondary-bg-cl: #F7F7F7;
  --dark-bg-cl: #191C26;

  /*button colors */
  --btn-dark-cl: #303030;

  /*  grid items*/
  --items: 1;
  --indent: 30px;

  /* animation */
  --slow-anim: 700ms ease;
  --transition-duration: 400ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion*/
/*#region common rules*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--main-txt-cl) font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.uppertitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: '';
  margin-right: 20px;

  display: block;
  width: 60px;
  height: 1px;
}

.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-dark:before {
  background-color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-light {
  color: #303030;
}

.uppertitle--mode-light:before {
  background-color: #303030;
}

.section-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.section-title--mode-light {
  color: #303030;
}

.section-title--mode-dark {
  color: #ffffff;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.subtitle-title--mode-light {
  color: #555555;
}

.subtitle-title--mode-dark {
  color: #9da4bd;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.js-no-transparency {
  transition: background-color var(--transition-duration) var(--transition-timing-function), 
  backdrop-filter var(--transition-duration) var(--transition-timing-function);
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(10px);
}

/* 
Сетка для коллекции*/

.grid {
  display: flex;
  flex-wrap: wrap;

  gap: var(--indent);
}

.grid-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* Стили кнопокы */

.btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function),
  background-color var(--transition-duration) var(--transition-timing-function);
  
}

.btn:hover,
.btn:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-cl);
}

.btn--mode-light {
  color: var(--btn-dark-cl);
}

.btn--mode-dark {
  color: var(--secondary-txt-cl);
}

/* Ссылки на соц.сети */

.social-links-list:before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;

  background-color: #303030;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--btn-dark-cl);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.social-links-item-link:hover,
.social-links-item-link:focus {
  color: var(--accent-cl);
}

/* Слайдер */

.slider__controls {
  position: absolute;
  right: 0;
  bottom: 40px;

  display: flex;
  align-items: center;
}

.slider__item-controls:not(:last-child) {
  margin-right: 26px;
}

.slider__btn {
  width: 60px;
  height: 24px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--main-bg-cl);
  background-color: transparent;
  cursor: pointer;

  border: 0;
  border-bottom: 1px solid var(--main-bg-cl);
}

.slider__btn--disable {
  text-align: left;
  color: var(--uppertitle);
  border-bottom: 1px solid var(--uppertitle);

  position:relative;
  top: 0px;
}
.slider__pagination {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  flex-direction: column;
  width: 18px;
}

.slider__item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider__item:last-child {
  margin-bottom: 0;
}

.slider__item--active {
  width: 100%;
  background-color: var(--main-bg-cl);
}

/*#endregion*/
/*#region header*/
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  /* background-color: rgba(24, 27, 37, 0.4); */
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  margin-right: 71px;
}

/* Навигация сайта */
.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  position: relative;
  display: block;
 
  padding: 52px 0 52px 0;

  font-weight: 600;
  font-size: 12px;
  
  line-height: 1.33;
  letter-spacing: 0.1em;
  
  color: var(--secondary-txt-cl);
  
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-cl);
}

.navigation__link.current {
  color: #ff6c00;
}

.navigation__link.current::after {
  position: absolute;
  bottom: 30px;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 2px;

  background-color: #ff6c00;
}

.header__group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__phone {
  margin-right: 40px;
  display: block;
  color: var(--secondary-txt-cl);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
  padding: 52px 0 52px 0;

  transition: color var(--transition-duration) var(--transition-timing-function);
}


.header__phone:hover,
.header__phone:focus {
  color: var(--accent-cl);
}

.header__btn {
  animation: swing 6s ease-in-out infinite forwards;
}
@keyframes swing {
  0% {
    transform: rotate(6deg);
  }
  
  4% {
    transform: rotate(-6deg);
  }
  
  8% {
    transform: rotate(3deg);
  }
  
  12% {
    transform: rotate(-3deg);
  }
  
  16% {
    transform: rotate(0);
  }
}
/* modal form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition:
    opacity var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
 
  padding: 25px;
  width: 500px;

  background-color: var(--main-bg-cl);
  border-radius: 2%;

  transform: translate(-50%, -50%);

  transition:
  transform var(--transition-duration) var(--transition-timing-function);
}
/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;

  border-radius: 50%;

  background-color: transparent;
  border: 1px solid var(--btn-dark-cl);

  cursor: pointer;

  transition: border var(--transition-duration) var(--transition-timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid var(--accent-cl);
}

/* modal-form */

.modal-title {
  display: block;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: currentColor;
}

.modal-form__group {
  position: relative;

  display: block;
  margin-bottom: 20px;
}

.modal-form__label {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.modal-form__label::before {
  content: "\002A";
  position: absolute;
  top:0;
  right: -12px;
  color: red;
}

/* Стилізація інпута */


.modal-form__input {
  width: 100%;
  padding: 12px 40px;

  border-radius: 5px;
  border: 1px solid #191c26;
  outline: transparent;
}

.modal-form__input:invalid:not(:placeholder-shown) {
  border-color: #e22f37;
}

.modal-form__input:valid:not(:placeholder-shown) {
  border-color: #69e883;
}


/* Стилизация иконок */
.modal-form__icon {
  position: absolute;
  bottom: 12px;
  left: 10px;
  fill: var(--btn-dark-cl);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input:valid:not(:placeholder-shown)~.modal-form__icon {
  fill: #69e883;
}

.modal-form__input:focus~.modal-form__icon {
  fill: #ffc039;
}

.modal-form__input:invalid:not(:placeholder-shown)~.modal-form__icon {
  fill: #e22f37;
}
/* Стилизация предупреждений */
.alert {
  position: absolute;
  bottom: -22px;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  
  width: 90%;
  font-size: 10px;

  opacity: 0;

  transition: opacity var(--transition-duration) var(--transition-timing-function);
}


.alert--error {
  color: #e22f37;
}

.alert--warning {
  color: #ffc039;
}

.alert__icon {
  position: absolute;
  right: 10px;
  bottom: 12px;

  display: inline-flex;
  fill: currentColor;
  opacity: 0;
  transform: scale(0.3);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.alert-icon--warning {
  fill: #ffc039 ;
}

.alert-icon--error {
  fill: #e22f37;
}



.modal-form__input:focus~.alert--warning,
.modal-form__input:focus~.alert-icon--warning {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}


.modal-form__input:not(:placeholder-shown)~
.alert--warning,
.modal-form__input:not(:placeholder-shown)~
.alert-icon--warning {
  opacity: 0;
}


.modal-form__input:invalid:not(:placeholder-shown)~
.alert--error, .modal-form__input:invalid:not(:placeholder-shown)~
.alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);  
}


/* payment checkbox (радио кнопки) */
.modal-form__pay-type {
  display: flex;
  align-items: center;
  
}

.modal-form__pay-group:not(:last-child) {
  margin-right: 20px;
}

.modal-form__pay-option {
  fill: var(--accent-cl);
  filter: grayscale(1);

  transition: filter var(--transition-duration) var(--transition-timing-function);

}
.modal-form__checkbox:checked+.modal-form__pay-option {
  filter: grayscale(0);
}


/* chekbox-style */

.modal-form__policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-form__custom-checkbox {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 10px;

  outline: 2px solid var(--accent-cl);
  border-radius: 4px;
  outline-offset: -2px;
}

.modal-form__custom-checkbox-icon {
  opacity: 0;
  fill: var(--main-bg-cl);
  transition: 
  opacity var(--transition-duration) var(--transition-timing-function),
  background-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form__checkbox:checked+.modal-form__custom-checkbox {
  background-color: var(--accent-cl);
}

.modal-form__checkbox:checked+.modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
}
.modal-form__link {
  color: var(--accent-cl);
}

.modal-form__policy-description {
  font-size: 14px;
}

.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/*#endregion*/
/*#region hero*/
.hero {
  max-width: 1280px;
  min-height: 680px;
  margin: 0 auto;

  background-color: var(--dark-bg-cl);
  background-image:
    url('../images/slider/slider-img-3.jpg'),
    linear-gradient(to right, #fff 12%, #191C26 12%);
  background-size: 1125px 680px, contain;
  background-position: top right, center;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  position: relative;
}

.hero__left-side {
  display: flex;
  align-items: flex-end;
  
  width: 100px;
}

.hero__list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: left top;
}


.hero__group {
  flex-grow: 1;

  margin-left: 100px;
  margin-top: 272px;
  margin-bottom: 206px;
}

.hero__uppertitle {
  animation: fade-left-to-right 0.6s var(--transition-timing-function);
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;

  animation: fade-left-to-right 1s ease-out;
}

.hero__subtitle {
  width: 476px;
  animation: fade-bootom-to-top 2s var(--transition-timing-function);
}

@keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-left-to-right {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bootom-to-top {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*#endregion*/
/*#region about*/
.about {
  background-color: var(--main-bg-cl);
}

.about__container {
  display: flex;
}

.about-list {
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__item {
  overflow: hidden;
}

.about-list__img {
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.about-list__item:hover .about-list__img {
  transform: scale(1.15)
}

.about__group {
  width: 500px;
}

.about__subtitle {
  margin-bottom: 20px;
}


.about__description {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

/*#endregion*/
/*#region services*/
.services {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/price/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(17, 19, 25, 1);
  background-position: center;
}

.price-list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.price-list__item {
  width: calc(100%/2);
}


.price-list__item--left-side {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list__item--right-side {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list__inner-list {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: block;
}

.price-list__inner-item {
  display: flex;
  align-items: baseline;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl);
}

.price-list__inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list__inner-item span:last-of-type{
  order: 2;
}

.price-list__inner-item::after {
  content: '';
  flex-grow: 1;
  order: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;

  background-color: rgba(157, 164, 189, 0.12);
}


.services__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*#endregion*/
/*#region benefits*/
.benefits {
  background-color: var(--main-bg-cl);
}

.benefits__container {
  display: flex;
  justify-content: center;
}


.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.benefits-list__item {
  width: 170px;
  padding: 20px;
  background-color: #F7F7F7;
}

.benefits-list__item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-list__amount {
  position: relative;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-list__amount--decor {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: #ff6c00;
}

.benefits-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;

  color: #303030;
}

.benefits-group {
  width: 500px;
  margin-left: 130px;
}

/*#endregion*/
/*#region members*/
.members {
  background-color: var(--secondary-bg-cl);
}

/* member-card */
.member__item {
  --items: 3;
}

.member__img {
  margin-bottom: 30px;
}

.member__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--btn-dark-cl);

  margin-bottom: 8px;
}

.member__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-cl);

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  color: #ff6c00;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}


/* Social icons */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: #ffffff;
  color: #303030;

  border-radius: 50%;

  transition: 
  fill var(--transition-duration) var(--transition-timing-function),
  color var(--transition-duration) var(--transition-timing-function);
}

.socials__link:hover,
.socials__link:focus {
  color: #ff6c00;
}

.socials__icon {
  fill: currentColor;
}

/*#endregion*/
/*#region gallery*/
.gallery {
  background-color: var(--main-bg-cl);
}

.gallery .uppertitle {
  margin-bottom: 44px;
}

.gallery .item {
  position: relative;

  --items: 4;
}

.gallery .item::before {
  position: absolute;
  left: 0;
  top: 0;

  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*#endregion*/
/*#region contacts*/
.contacts {
  background-color: var(--dark-bg-cl);

  background-image: url('../images/contact/Bg.png');
  background-repeat: no-repeat;
  background-position: top left calc(50% + 312px);
}

.contacts__container {
  display: flex;
}

.contacts .contact-group {
  width: calc(100%/2);
}

.contact-group .left {
  background-color: var(--dark-bg-cl);
}

/*Contact-form */

.contact-group .left {
  width: 560px;
}

.contacts__section-title {
  margin-bottom: 60px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display:flex;
  align-items: center;
  margin-bottom: 44px;
}

.form-wrapper>.form-group {
  position: relative;
  padding-top: 20px;
}

.form-wrapper>.form-group:not(:last-child) {
  margin-right: 30px;
}

.form-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4) ;
}

.form-wrapper .form-label {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-20px);

  transition: 
  transform var(--transition-duration) var(--transition-timing-function),
  color var(--transition-duration) var(--transition-timing-function);
}

.form-input:focus+.form-label, 
.form-intup:not(:placeholder-shown) {
  transform: translateY(0);
  color: var(--main-bg-cl);
} 


.form-input {
  width: 270px;

  color:#FFFFFF;

  background-color: transparent;
  padding: 5px;
  padding-left: 25px;
  border: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form-input:focus, .form-intup:not(:placeholder-shown) {
  border-bottom: 1px solid #F7F7F7; 
}

.form-input::placeholder {
  opacity: 0;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  fill:rgba(157, 164, 189, 0.4);
}

.form-input:focus ~.form-icon, 
.form-intup:not(:placeholder-shown) {
  fill: var(--main-bg-cl);
} 


.form-group-message {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}

.form-group-message .form-label {
  position: absolute;
  left: 0;
  top: -20px;

  transition: 
  color var(--transition-duration) var(--transition-timing-function);
}

.form-message:focus+.form-label, 
.form-message:not(:placeholder-shown) {
  color: var(--main-bg-cl);
} 

.form-message {
  padding: 5px;
  background-color: transparent;
  border:0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  width: 100%;
  resize: none;
  outline: transparent;
  color: var(--main-bg-cl);

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form-message:focus, .form-message:not(:placeholder-shown) {
  border-bottom: 1px solid #F7F7F7; 
}


.form-message::placeholder {
  opacity: 0;
}





/* .contact-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  position: relative;
} */
/* 
.contact-form .label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
  margin-bottom: 4px;
}

.contact-form .input {
  width: 100%;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.contact-form .input:focus,
.contact-form .input:active {
  outline: 0;
  border-color: var(--accent-cl);
}

.contact-form .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.contact-form .field:focus-within .icon {
  fill: var(--accent-cl);
}

.contact-form .comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.contact-form .comment::placeholder {
  font-weight: 200;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--btn-dark-cl);
}

.contact-form .comment:focus,
.contact-form .comment:active {
  outline: 0;
  border-color: var(--accent-cl);
}

.contact-form .checkbox-field {
  position: relative;

  display: block;
  margin-bottom: 30px;
}

.contact-form .checkbox-field .icon {
  position: absolute;
  top: 4px;
  left: 0;

  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--dark-bg-cl);

  border: 2px solid var(--btn-dark-cl);
}

.contact-form .checkbox:focus+.icon {
  border-color: var(--accent-cl);
  fill: var(--dark-bg-cl);
}

.contact-form .checkbox:hover+.icon {
  border-color: var(--accent-cl);
  fill: var(--dark-bg-cl);
}

.contact-form .checkbox:checked+.icon {
  border-color: transparent;
  background-color: var(--accent-cl);
  background-image: url('../images/icons.svg#icon-check');
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  fill: var(--main-bg-cl);
}

.contact-form .checkbox-field .label {
  display: inline-block;
  margin-left: 20px;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-bg-cl);
}

.contact-form .checkbox-field .link {
  color: var(--accent-cl);
} */

.contact-form .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-width: 200px;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.contact-group.right {
  margin-left: 100px;
}

.contacts .list {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl)
}

.contacts .item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts .item:nth-last-child(1) {
  margin-bottom: 70px;
  text-decoration: underline;
}

.icon-map-pin,
.icon-phone,
.icon-mail {
  margin-right: 16px;
}

.contacts .time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.contacts .time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl);
}

/*#endregion*/
/*#region footer*/
.footer {
  background-color: var(--main-bg-cl);
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer>.container {
  display: flex;
  align-items: center;
}

.footer .copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--services-txt-cl);
}

.footer .list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer .list::before {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 1px solid;
  margin-right: 40px;
  color: var(--btn-dark-cl);
}

.footer .item:not(:last-child) {
  margin-right: 40px;
}

.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-cl);
}


/*#endregion*/

/**
  |============================
  | fixed element
  |============================
*/
.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  background-color: rgba(255, 108, 0, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  animation: slide-top 1s linear 2s infinite alternate both;
}

.arrow-top {
  fill: #fff;
}

/**
  |============================
  | chat-menu
  |============================
*/

.chat-menu {
  position: fixed;
  right: 30px;
  bottom: 90px;
}

.chat-menu-btn {
  position: relative;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-image: url(https://gist.githubusercontent.com/yazdipour/91dea3fdf97dba702ed89a6a1b9a98a7/raw/8c4870d4fda64c6f8dbf9d12d579d1ad66c3f360/rainbowcat.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
  z-index: 10;
}

.chat-menu-list {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.chat-menu-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.chat-menu-btn:hover~.chat-menu-list .chat-menu-item {
  transform: translateY(calc(var(--item) * -30px)) translateX(-50%);
}

.chat-menu-icon {
  fill: #ff6c00;
}
