/*#region members*/
.members {
  background-color: var(--secondary-bg-cl);
}

/* member-card */
.member__item {
  --items: 3;
}

.member__img {
  margin-bottom: 30px;
}

.member__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--btn-dark-cl);

  margin-bottom: 8px;
}

.member__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-cl);

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  color: #ff6c00;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

/* Social icons */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: #ffffff;
  color: #303030;

  border-radius: 50%;

  transition: 
  fill var(--transition-duration) var(--transition-timing-function),
  color var(--transition-duration) var(--transition-timing-function);
}

.socials__link:hover,
.socials__link:focus {
  color: #ff6c00;
}

.socials__icon {
  fill: currentColor;
}

/*#endregion*/
/*#region gallery*/
.gallery {
  background-color: var(--main-bg-cl);
}

.gallery__uppertitle {
  margin-bottom: 44px;
}

.gallery-list__item {
  position: relative;

  --items: 4;
}

.gallery-list__item::before {
  position: absolute;
  left: 0;
  top: 0;

  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*#endregion*/
/*#region contacts*/
.contacts {
  background-color: var(--dark-bg-cl);

  background-image: url('../images/contact/Bg.png');
  background-repeat: no-repeat;
  background-position: top left calc(50% + 312px);
}

.contacts__container {
  display: flex;
}

.contact {
  width: calc(100%/2);
}

.contact--left-side {
  background-color: var(--dark-bg-cl);
  width: 560px;
}

.contact__section-title {
  margin-bottom: 60px;
}

/*Contact-form */

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__wrapper {
  display:flex;
  align-items: center;
  margin-bottom: 44px;
}

.contact-form__group {
  position: relative;
  padding-top: 20px;
}

.contact-form__group:not(:last-child) {
  margin-right: 30px;
}

.contact-form__label {
  position: absolute;
  left: 0;
  top: 0;
  

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4) ;

  transform: translateY(-20px);

  transition: 
  transform var(--transition-duration) var(--transition-timing-function),
  color var(--transition-duration) var(--transition-timing-function);
}


.contact-form__input:focus+.contact-form__label, 
.contact-form__input:not(:placeholder-shown) {
  transform: translateY(0);
  color: var(--main-bg-cl);
} 


.contact-form__input {
  width: 270px;

  color:#FFFFFF;

  background-color: transparent;
  padding: 5px;
  padding-left: 25px;
  border: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.contact-form__input:focus, .contact-form__input:not(:placeholder-shown) {
  border-bottom: 1px solid #F7F7F7; 
}

.contact-form__input::placeholder {
  opacity: 0;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 0;
  fill:rgba(157, 164, 189, 0.4);
}

.contact-form__input:focus ~.contact-form__icon, 
.contact-form__input:not(:placeholder-shown) {
  fill: var(--main-bg-cl);
} 

.contact-form__message {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}

.contact-form__label {
  position: absolute;
  left: 0;
  top: -20px;

  transition: 
  color var(--transition-duration) var(--transition-timing-function);
}

.contact-form__message-input:focus+.contact-form__label, 
.contact-form__message-input:not(:placeholder-shown) {
  color: var(--main-bg-cl);
} 

.contact-form__message-input {
  padding: 5px;
  background-color: transparent;
  border:0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  width: 100%;
  resize: none;
  outline: transparent;
  color: var(--main-bg-cl);

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.contact-form__message-input:focus, .contact-form__message-input:not(:placeholder-shown) {
  border-bottom: 1px solid #F7F7F7; 
}


.contact-form__message-input::placeholder {
  opacity: 0;
}

.contact-form__bnt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-width: 200px;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
/* остановился тут */
.contact--right-side {
  margin-left: 100px;
}

.icons-list {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl)
}

.icons-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.icons-list__item:nth-last-child(1) {
  margin-bottom: 70px;
  text-decoration: underline;
}

.icons-list__icon {
  margin-right: 16px;
  fill: transparent;
}

.contact__time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.contact__time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl);
}

/*#endregion*/
/*#region footer*/
.footer {
  background-color: var(--main-bg-cl);
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--services-txt-cl);
}

.footer-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-links::before {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 1px solid;
  margin-right: 40px;
  color: var(--btn-dark-cl);
}

.footer-links__item:not(:last-child) {
  margin-right: 40px;
}

.footer-links__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer-links__link:hover,
.footer-links__link:focus {
  color: var(--accent-cl);
}


/*#endregion*/

/**
  |============================
  | fixed element
  |============================
*/
.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  background-color: rgba(255, 108, 0, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  animation: slide-top 1s linear 2s infinite alternate both;
}

.arrow-top {
  fill: #fff;
}

/**
  |============================
  | chat-menu
  |============================
*/

.chat-menu {
  position: fixed;
  right: 30px;
  bottom: 90px;
}

.chat-menu-btn {
  position: relative;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-image: url(https://gist.githubusercontent.com/yazdipour/91dea3fdf97dba702ed89a6a1b9a98a7/raw/8c4870d4fda64c6f8dbf9d12d579d1ad66c3f360/rainbowcat.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
  z-index: 10;
}

.chat-menu-list {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.chat-menu-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.chat-menu-btn:hover~.chat-menu-list .chat-menu-item {
  transform: translateY(calc(var(--item) * -30px)) translateX(-50%);
}

.chat-menu-icon {
  fill: #ff6c00;
}
