/*#region header*/
.header {
    position: fixed;
    top: 0;
    width: 100vw;
    /* background-color: rgba(24, 27, 37, 0.4); */
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;  
      }
}
  
.logo {
    margin-right: 71px;
  }
  
.header__group {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
      
.header__phone {
        margin-right: 40px;
        display: block;
        color:var(--secondary-txt-cl);
        @include fonts (600, 12px, 1.33, 0.1em);
        text-decoration: none;
        padding: 52px 0 52px 0;
      
        transition: color var(--transition-duration) var(--transition-timing-function);
      }
      
      
.header__phone:hover,
.header__phone:focus {
        color: var(--accent-cl);
}
      
.header__btn {
        animation: swing 6s ease-in-out infinite forwards;
      }
   
/*#endregion*/