/* Стили кнопки */

.btn {
  @include btn;
    
    &:hover,
    &:focus {
      color: var(--secondary-txt-cl);
      background-color: var(--accent-cl);
    }
    &--mode-light {
      color: var(--btn-dark-cl);
    }
    
    &--mode-dark {
      color: var(--secondary-txt-cl);
    }
  }
  

  

  